/* RESETS */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: 'slkscr';
  src:  url('/slkscr.woff2') format('woff2'),
        url('/slkscr.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'slkscrb';
  src:  url('/slkscrb.woff2') format('woff2'),
        url('/slkscrb.woff') format('woff');
}

html {
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'slkscr';
  height: 100vh;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

footer {
  margin: 0 auto;
  p {
    font-size: 0.8rem;
    padding: 1rem 0;
  }
}

.v-centered {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'slkscrb';
}

h1 {
  font-size: 2rem;
}

p {
  padding: 1rem 0;
}
